.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("src/assets/images/background/HomePageBgImg.jpg");
  background-size: cover;
  background-position: center;
}
.content {
  padding-top: 150px;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.table {
  top: 50%;
  left: 10%;
}
.table,
th,
td {
  width: 80%;
  margin: auto;
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  font-size: 15px;
  table-layout: fixed;
  background: black;
  opacity: 0.8;
  color: white;
  margin-bottom: 50px;
}
th,
td {
  padding: 20px;
  opacity: 0.9;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.form-box {
  position: relative;
  width: 450px;
  height: 550px;
  background: transparent;
  border: 2px solid rgb(194, 193, 193);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: rgb(211, 211, 211);
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 20px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

.material-symbols-outlined {
  cursor: pointer;
}
.carousel {
  margin-left: 50px;
  width: 1200px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel h6 {
  color: white;
  font-size: 2em;
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-lg-4 {
  width: 30%;
  margin-bottom: 20px;
}

.col-lg-4 svg {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}

.col-lg-4 h2 {
  font-size: 1.5em;
  color: white;
}

.col-lg-4 p {
  color: white;
}

.section-1 {
  background-color: black;
  padding-top: 50px;
}
.table-head {
  margin-bottom: 30px;
  color: white;
  text-align: center;
}
.material-symbols-outlined {
  cursor: pointer;
}
.add-employee h2 {
  margin-right: 150px;
  color: lightblue;
}
.add-employee img {
  margin-top: 10px;
  width: 300px;
}
.section-2 {
  background-color: rgb(23, 39, 53);
}
