<div class="banner">
    <div class="content">
        <img src="assets/images/logo.png" alt="">
        <h1>Royal Heaven Restaurant </h1>
        <p>"Exquisite Culinary Majesty at Royal Heaven: A Regal Dining Experience"</p>
        <div>
            <button type="button" (click)="onRegisterButtonClick()"><span></span>Register</button>
            <button type="button" (click)="onLoginButtonClick()"><span></span>Login</button>
        </div>
    </div>
</div>

<div class="section">

    <div class="container px-4 py-5" id="custom-cards" data-aos="fade-right" data-aos-offset="300"
        data-aos-easing="ease-in-sine">
        <h3 class="pb-2">Our ongoing Royal-Heaven World Wide meal service</h3>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white  rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Royal Meals Delivery across cities</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="assets/images/FoodDelivery.jpg" alt="Bootstrap"
                                    class="rounded-circle border border-white">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Online web portal for restaurant</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="assets/images/RsPortal.jpg" alt="Bootstrap"
                                    class="rounded-circle border border-white">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container px-4 py-5 ms-auto" id="custom-cards" data-aos="fade-right" data-aos-offset="300"
        data-aos-easing="ease-in-sine">
        <h3 class="pb-2">Our portal for further division of your food need</h3>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white  rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Be a member of our restaurant and view our
                            features all in one</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="assets/images/RsPortalFeature1.png" alt="Bootstrap"
                                    class="rounded-circle border border-white">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Take your membership and get to work on
                            every
                            sides of food</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="assets/images/RsPortalFeature2.jpg" alt="Bootstrap"
                                    class="rounded-circle border border-white">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<app-footer></app-footer>