<body>

    <app-user-access-nav-bar></app-user-access-nav-bar>
    <div class="banner">
        <div class="content">

            <div class="content-left">
                <h1 class="main-heading">Royal Heaven Restaurant </h1>
                <p>"Exquisite Culinary Majesty at Royal Heaven: A Regal Dining Experience"</p>
            </div>
            <img src="assets/images/logo.png" alt="">
        </div>

    </div>

    <div class="services">
        <h3 data-aos="fade-up" class="services-headline">Our Services & Features</h3>
        <!-- restaurant-services -->
        <div class="cards" data-aos="fade-down">

            <div class="card" style="width: 18rem;" routerLink="/meals">
                <img class="card-img-top" src="assets/images/background/HomePageBgImg.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new meals, Update existing meals, remove meals and view all the meals
                        in
                        one table</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/ingredients">
                <img class="card-img-top" src="assets/images/ingredients/Ingredients.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new ingredients, Update existing ingredients, remove ingredients and
                        view
                        all the ingredients in one table</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/recipes">
                <img class="card-img-top" src="assets/images/recipes/Recipes.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new recipes, Update existing recipes, remove recipes and view all the
                        recipes in one table</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/ratings">
                <img class="card-img-top" src="assets/images/ratings/Ratings.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Give reviews and ratings, Update ratings, remove ratings and view all the
                        ratings in one table</p>
                </div>
            </div>


        </div>
        <div class="cards" data-aos="fade-down">

            <div class="card" style="width: 18rem;" routerLink="/categories">
                <img class="card-img-top" src="assets/images/categories/Categories.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new food categories,, remove categories and view all the categories in
                        one
                        table</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/nutritions">
                <img class="card-img-top" src="assets/images/nutrients/Nutritions.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new nutrition values, Update existing nutrition values, remove
                        nutrition
                        values and view all the nutritions in one table</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/allergens">
                <img class="card-img-top" src="assets/images/allergies/Allergens.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new allergens, Update existing allergens, remove allergens and view all
                        the
                        allergens in one table</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/restaurants">
                <img class="card-img-top" src="assets/images/Restaurants.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Add new restaurant, remove restaurants and view all of our linked
                        restuarants
                        in one table</p>
                </div>
            </div>


        </div>
        <!-- restaurant-websites -->
        <section class="websites" data-aos="fade-right">
            <h3 data-aos="fade-up" class="websites-headline">Best among the top 10 Sources to enhance your food
                knowledge </h3>

            <div class="websites-row">
                <div class="website-item">
                    <div class="col-md-10">
                        <div
                            class="g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">

                                <h3 class="mb-0">AllRecipes</h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">Most popular food and recipe website 2024</p>

                                <a href="https://www.allrecipes.com/"
                                    class="stretched-link">https://www.allrecipes.com/</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="assets/images/websites/allrecipes.jpg" alt="Thumbnail Image" class="website-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="website-item">
                    <div class="col-md-10">
                        <div
                            class="g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">

                                <h3 class="mb-0">Food Network</h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">A network of food recipes with interesting facts about
                                    daily meals</p>
                                <a href="https://www.foodnetwork.com/"
                                    class="stretched-link">https://www.foodnetwork.com/</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="assets/images/websites/food-network.png" alt="Thumbnail Image" class="website-img">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="website-item">
                    <div class="col-md-10">
                        <div
                            class="g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">

                                <h3 class="mb-0">Eat Right</h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">This website teach you healthy <br>food and meal habits
                                    while
                                    provide features to ask your nutritional needs</p>
                                <a href="https://www.eatright.org/" class="stretched-link">https://www.eatright.org/</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="assets/images/websites/eat-right.jpg" alt="Thumbnail Image" class="website-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- restaurant-review -->
        <section class="restaurant-review" data-aos="fade-right">
            <h3 data-aos="fade-up" class="restaurant-headline">Do not forget to visit of Royal Heaven Restaurant </h3>

            <div class="restaurant-row">
                <div class="restaurant-item">
                    <div class="r-content-left">

                        <h2 class="restaurant-item-heading">Explore a Wide Food and Meal Experience</h2>
                        <p>"Discover diverse cuisines and tantalizing flavors curated to satisfy every palate."</p>
                    </div>

                    <img src="assets/images/background/HomePageBgImg.jpg" alt="" class="restaurant-item-img">
                </div>

            </div>
            <div class="restaurant-row">
                <div class="restaurant-item">
                    <div class="r-content-left">
                        <h2 class="restaurant-item-heading">Get your order right away</h2>
                        <p>"Experience quick and convenient delivery, ensuring your order arrives promptly at your doorstep."</p>
                    </div>

                    <img src="assets/images/FoodDelivery.jpg" alt="" class="restaurant-item-img">
                </div>

            </div>
        </section>
    </div>
    <app-footer></app-footer>
</body>